.crimson-background {
    background-color: #cf1133;
}

.orange-background {
    background-color: #fb8b41;
}

.white-background {
    background-color: #fff;
}

.dark-orange-background {
    background-color: #f03737;
}