.form-info {
  width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.form-info__group {
  width: 100%;
  display: flex;
  margin-bottom: 12px;
  align-items: flex-end;
}

.form-info__group--label {
  width: 100px;
  font-size: 18px;
}

.form-info__group--input {
  flex: 1;
  border: none;
  border-bottom: 1px solid var(--text-color);
  font-size: 18px;
  padding: 4px;
  outline: none;
  border-radius: 4px;
}

.form-button {
  background-color: var(--text-color);
  color: var(--white-color);
  padding: 8px 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  margin: 0 0 0 auto;
  font-size: 18px;
  cursor: pointer;
}